In [1]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_excel('Video Streaming Platform Analysis (Responses).xlsx')

df.head()

,Timestamp,Name(optional),Gender,Age group,Where do you reside?,Are you a professional or a student?,Do you have any sources of income?,"If yes, please specify.",Which video streaming platforms do you use?,Do you pay for your subscriptions or use someone else's?,How often do you use the video streaming apps you mentioned?,"How many hours per day, on average, do you spend using video streaming apps?",Which device do you use for streaming?,Comments
0,2023-11-06 14:42:55.307,Praghya Trivedi,Female,30<,Indore,Professional,Yes,Visiting faculty freelancing art classes,"Youtube, Netflix, Amazon Prime, Disney + Hosta...",I pay for some of them,Monthly,8,PC,1. Radio button not working for smart phones 2...
1,2023-11-06 15:11:17.144,Nishant Deshmukh,Male,18-21,Indore,College Student,No,NaN,"Youtube, Netflix, Amazon Prime",I pay for some of them,Daily,6,"Smart Phones, PC",NaN
2,2023-11-06 15:14:23.508,Dhaathri S,Female,18-21,Bengaluru,CA Student,Yes,Articleship,"Youtube, Netflix, Amazon Prime, Disney + Hostar",I pay for my own subscription,Weekly,1,Smart Phones,NaN
3,2023-11-06 15:14:24.205,Shubhanshu Sen,Male,21-30,Indore,Professional,Yes,JOB\n,"Youtube, Netflix, Amazon Prime",I pay for my own subscription,Rarely,1,TV,NaN
4,2023-11-06 15:15:02.677,Shreya,Female,21-30,Ireland,Professional,Yes,Software developer,"Youtube, Netflix, Disney + Hostar",I pay for my own subscription,Weekly,2,Smart Phones,NaN

In [3]:
df.drop(labels=['Timestamp','Name(optional)'],axis=1,inplace=True)

In [4]:
df.columns

Index(['Gender', 'Age group', 'Where do you reside?',
       'Are you a professional or a student?',
       'Do you have any sources of income?', 'If yes, please specify.',
       'Which video streaming platforms do you use?',
       'Do you pay for your subscriptions or use someone else's?',
       'How often do you use the video streaming apps you mentioned?',
       'How many hours per day, on average, do you spend using video streaming apps?',
       'Which device do you use for streaming?', 'Comments'],
      dtype='object')

In [5]:
df.columns = ['gender','age','location','profession','income','income_source','platforms','subscription_pay','usage','hours_per_day',
             'device_used','comments']

df.head()

,gender,age,location,profession,income,income_source,platforms,subscription_pay,usage,hours_per_day,device_used,comments
0,Female,30<,Indore,Professional,Yes,Visiting faculty freelancing art classes,"Youtube, Netflix, Amazon Prime, Disney + Hosta...",I pay for some of them,Monthly,8,PC,1. Radio button not working for smart phones 2...
1,Male,18-21,Indore,College Student,No,NaN,"Youtube, Netflix, Amazon Prime",I pay for some of them,Daily,6,"Smart Phones, PC",NaN
2,Female,18-21,Bengaluru,CA Student,Yes,Articleship,"Youtube, Netflix, Amazon Prime, Disney + Hostar",I pay for my own subscription,Weekly,1,Smart Phones,NaN
3,Male,21-30,Indore,Professional,Yes,JOB\n,"Youtube, Netflix, Amazon Prime",I pay for my own subscription,Rarely,1,TV,NaN
4,Female,21-30,Ireland,Professional,Yes,Software developer,"Youtube, Netflix, Disney + Hostar",I pay for my own subscription,Weekly,2,Smart Phones,NaN

In [6]:
df['age'].unique()

array(['30<', '18-21', '21-30', '<30', '12-18'], dtype=object)

In [7]:
df['age'][df['age'] == '30<'] = 'above 30'
df['age'][df['age'] == '<30'] = 'above 30'

In [8]:
df['age'].unique()

array(['above 30', '18-21', '21-30', '12-18'], dtype=object)

In [9]:
df['profession'].unique()

array(['Professional', 'College Student', 'CA Student', 'School Student',
       'Aspirant'], dtype=object)

In [10]:
df['income_source'].unique()

array(['Visiting faculty freelancing art classes', nan, 'Articleship ',
       'JOB\n', 'Software developer ', 'Job', 'part time tutor',
       'Teaching ', 'Internship , Stock Market ', 'Nil', 'Work',
       'Freelancing', 'Job - Data scientist ', ' ', 'Part time jobs',
       'Nominal Stipend', 'Jobs and Business'], dtype=object)

In [11]:
df['income_source'].fillna('None', inplace=True)

In [12]:
df['income_source'].unique()

array(['Visiting faculty freelancing art classes', 'None', 'Articleship ',
       'JOB\n', 'Software developer ', 'Job', 'part time tutor',
       'Teaching ', 'Internship , Stock Market ', 'Nil', 'Work',
       'Freelancing', 'Job - Data scientist ', ' ', 'Part time jobs',
       'Nominal Stipend', 'Jobs and Business'], dtype=object)

In [13]:
df['income_source'].replace(['Nil',' '], 'None', inplace=True)

In [14]:
df['income_source']  = [i.lower() for i in df['income_source']]

In [15]:
df['income_source']  = [i.strip() for i in df['income_source']]

In [16]:
df['income_source']

0     visiting faculty freelancing art classes
1                                         none
2                                  articleship
3                                          job
4                           software developer
                        ...
69                                        none
70                                        none
71                                        none
72                                        none
73                                        none
Name: income_source, Length: 74, dtype: object

In [17]:
df['platforms'] = [i.split(',') for i in df['platforms']]

In [18]:
df['platform_count'] = [len(i) for i in df['platforms']]

In [19]:
df.head()

,gender,age,location,profession,income,income_source,platforms,subscription_pay,usage,hours_per_day,device_used,comments,platform_count
0,Female,above 30,Indore,Professional,Yes,visiting faculty freelancing art classes,"[Youtube, Netflix, Amazon Prime, Disney + H...",I pay for some of them,Monthly,8,PC,1. Radio button not working for smart phones 2...,7
1,Male,18-21,Indore,College Student,No,none,"[Youtube, Netflix, Amazon Prime]",I pay for some of them,Daily,6,"Smart Phones, PC",NaN,3
2,Female,18-21,Bengaluru,CA Student,Yes,articleship,"[Youtube, Netflix, Amazon Prime, Disney + H...",I pay for my own subscription,Weekly,1,Smart Phones,NaN,4
3,Male,21-30,Indore,Professional,Yes,job,"[Youtube, Netflix, Amazon Prime]",I pay for my own subscription,Rarely,1,TV,NaN,3
4,Female,21-30,Ireland,Professional,Yes,software developer,"[Youtube, Netflix, Disney + Hostar]",I pay for my own subscription,Weekly,2,Smart Phones,NaN,3

In [20]:
df.describe()

       hours_per_day  platform_count
count      74.000000       74.000000
mean        2.445946        4.472973
std         1.783808        2.365407
min         1.000000        1.000000
25%         1.000000        3.000000
50%         2.000000        4.500000
75%         3.000000        6.000000
max        10.000000       12.000000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            74 non-null     object
 1   age               74 non-null     object
 2   location          74 non-null     object
 3   profession        74 non-null     object
 4   income            74 non-null     object
 5   income_source     74 non-null     object
 6   platforms         74 non-null     object
 7   subscription_pay  74 non-null     object
 8   usage             74 non-null     object
 9   hours_per_day     74 non-null     int64
 10  device_used       74 non-null     object
 11  comments          10 non-null     object
 12  platform_count    74 non-null     int64
dtypes: int64(2), object(11)
memory usage: 7.6+ KB

In [22]:
for i in df['comments']:
    print(i)

1. Radio button not working for smart phones 2. How many hours per week you can write per day...as if someone Watches series then it will be more than 10 hours...so 10 hours per week will not be sufficient...
3. For age group..write above 30 as < is creating confusion. .
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
No
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
Nope
No
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
NO
nan
They should be more user friendly when operated on different devices
nan
nan
nan
nan
nan
nan
nan
nan
You should also add telegram to the list. Many of the movies or series we can find here for free.
You should also add a column where we can write that we use this platform when we are free. While doing some work(like eating), or waste our time on these platform and binge watch .
nan
The should be ad free.
nan
YouTube is majorly for studying academic topics for learning and college exams.
Disney+ hotstar only for IPL or World cup matches.
Rest for shows/movies.
nan
nan
nan
nan
nan
nan
nan
No
nan
nan
nan
nan
nan

In [23]:
df.drop('comments', axis=1, inplace=True)

In [24]:
df.columns

Index(['gender', 'age', 'location', 'profession', 'income', 'income_source',
       'platforms', 'subscription_pay', 'usage', 'hours_per_day',
       'device_used', 'platform_count'],
      dtype='object')

In [25]:
df.head()

,gender,age,location,profession,income,income_source,platforms,subscription_pay,usage,hours_per_day,device_used,platform_count
0,Female,above 30,Indore,Professional,Yes,visiting faculty freelancing art classes,"[Youtube, Netflix, Amazon Prime, Disney + H...",I pay for some of them,Monthly,8,PC,7
1,Male,18-21,Indore,College Student,No,none,"[Youtube, Netflix, Amazon Prime]",I pay for some of them,Daily,6,"Smart Phones, PC",3
2,Female,18-21,Bengaluru,CA Student,Yes,articleship,"[Youtube, Netflix, Amazon Prime, Disney + H...",I pay for my own subscription,Weekly,1,Smart Phones,4
3,Male,21-30,Indore,Professional,Yes,job,"[Youtube, Netflix, Amazon Prime]",I pay for my own subscription,Rarely,1,TV,3
4,Female,21-30,Ireland,Professional,Yes,software developer,"[Youtube, Netflix, Disney + Hostar]",I pay for my own subscription,Weekly,2,Smart Phones,3

In [26]:
df['subscription_pay'].unique()

array(['I pay for some of them', 'I pay for my own subscription',
       "I use someone else's account", 'I only watch free contents'],
      dtype=object)

In [27]:
df.replace({'I pay for some of them':'some platforms','I pay for my own subscription':'all platforms', 
            "I use someone else's account":'paid by someone else','I only watch free contents':'free platforms'}, inplace=True)

In [28]:
df['usage'] = [i.lower() for i in df['usage']]

In [29]:
df['device_used'] = [i.split(',') for i in df['device_used']]

In [30]:
df['device_count'] = [len(i) for i in df['device_used']]

In [31]:
df['location'].unique()

array(['Indore', 'Indore ', 'Bengaluru', 'Ireland', 'Sonipat',
       'Indore, Madhya Pradesh,India ', 'Dhaelr, Madhya Pradesh, India ',
       'Indore, Madhya Pradesh, India ', 'Indore(m.p)', 'India ',
       'Shivpuri, Madhya Pradesh, India ', 'Mp',
       'Indore, Madhya pradesh, India ', 'In a relationship',
       'Indore, M. P., India', 'Bangalore, Karnataka, India',
       'Indore/M.P/India', 'Sagar', 'Dublin, Ireland ', 'Delhi',
       'Madhya pradesh', 'Dublin',
       'Scheme no. 78,slice A/S/4 , house no. 100 , VIJAY NAGAR INDORE, MADHYA PRADESH',
       'Mumbai ', 'India', 'Pune ', 'Boston, MA',
       '140 shri krishna Avenue Phase-1 limbodi Indore madhya pradesh india ',
       'Badi bhamori anjani Nagar indore mp ', 'Karnataka India ', 'Pune',
       'Gurgaon', 'Jaipur', 'Bangalore ', 'Sidhi/Madhya-Pradesh',
       'Indore/Madhya Pradesh/India', 'Madhya Pradesh, Indore,india',
       'Indore, MP'], dtype=object)

In [32]:
df['location'][df['location'] == 'In a relationship'] = 'Lalitpur'

In [33]:
df['location'] = [i.lower() for i in df['location']]

In [34]:
df['location'] = [i.strip() for i in df['location']]

In [35]:
df['location'] = [i.replace(',', " ") for i in df['location']]
df['location'] = [i.replace('/', " ") for i in df['location']]
df['location'] = [i.replace('(', " ") for i in df['location']]
df['location'] = [i.replace(')', " ") for i in df['location']]

In [36]:
df['location'].unique()

array(['indore', 'bengaluru', 'ireland', 'sonipat',
       'indore  madhya pradesh india', 'dhaelr  madhya pradesh  india',
       'indore  madhya pradesh  india', 'indore m.p ', 'india',
       'shivpuri  madhya pradesh  india', 'mp', 'lalitpur',
       'indore  m. p.  india', 'bangalore  karnataka  india',
       'indore m.p india', 'sagar', 'dublin  ireland', 'delhi',
       'madhya pradesh', 'dublin',
       'scheme no. 78 slice a s 4   house no. 100   vijay nagar indore  madhya pradesh',
       'mumbai', 'pune', 'boston  ma',
       '140 shri krishna avenue phase-1 limbodi indore madhya pradesh india',
       'badi bhamori anjani nagar indore mp', 'karnataka india',
       'gurgaon', 'jaipur', 'bangalore', 'sidhi madhya-pradesh',
       'indore madhya pradesh india', 'madhya pradesh  indore india',
       'indore  mp'], dtype=object)

In [37]:
df['location']

0                           indore
1                           indore
2                        bengaluru
3                           indore
4                          ireland
                  ...
69     indore madhya pradesh india
70                          indore
71                           india
72    madhya pradesh  indore india
73                      indore  mp
Name: location, Length: 74, dtype: object

In [38]:
'indore' in df['location'][69]

True

In [39]:
df['location'] = [i.split() for i in df['location']]

In [40]:
def city(l):
    c = ['delhi','sagar','lalitpur','indore','sonipat','bengaluru','bangalore','sonipat','shivpuri',
         'dublin','mumbai','pune','boston','gurgaon','jaipur','sidhi','dhaelr']
    for i in l:
        if i in c:
            return i
        break

In [43]:
cities = []
for i in df['location']:
    a =city(i)
    cities.append(a)

In [44]:
index = []
a = -1
for i,v in enumerate(cities):
    if v == None:
        if cities.count(v) > 1 and i not in index:
            index.append(i)

In [45]:
index

[4, 13, 16, 32, 40, 46, 55, 57, 61, 71, 72]

In [ ]:
for i in index:
    print(df['location'][i])

In [ ]:
cities[4] = 'dublin'

In [ ]:
for i in [40,55,57,72]:
    cities[i] = 'indore'

In [ ]:
df['cities'] = pd.Series(cities)

In [ ]:
df.head()

In [ ]:
df['cities'].isnull().sum()

In [ ]:
df['cities'].unique()

In [ ]:
df['cities'].replace('dhaelr', 'dhar', inplace=True)
df['cities'].replace('bengaluru', 'bangalore', inplace=True)

In [ ]:
a = df['cities'].unique()
state = ['madhya pradesh' for i in df['cities'] if i in ['indore', 'dhar', 'shivpuri', 'sagar', 'sidhi']]

In [ ]:
df.head()

In [ ]:
df.drop('location',axis=1,inplace=True)

In [ ]:
df.to_csv('cleaned_data.csv')
print("DONE!!!")